yang/.Rhistory
yang/.RData
yang/.Ruserdata
yang/.Rproj.user/
yang/.DS_Store
yang/*.Rproj.user
johnson/.Rhistory
johnson/.RData
johnson/.Ruserdata
johnson/.Rproj.user/
johnson/.DS_Store
johnson/*.Rproj.user
